* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #b2b0b0;
  width: 80%;
}

.main {
  width: 100%;
  background-position: center;
  height: 109vh;
}

html {
  scroll-behavior: smooth;
}
/*de van bar en het menus daarin*/
.navbar {
  width: 1920px;
  height: 75px;
  margin: auto;
  background-color: black;
}

.icon > img {
  width: 100px;
  float: left;
  height: 70px;
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
}

.menu ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  list-style: none;
  margin-left: 70px;
  margin-top: 20px;
  font-size: 14px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

.menu ul li a:hover {
  color: #e91e63;
}

.pg > img {
  width: 100%;
  transition: 0.2s transform;
  height: 700px;
  margin-bottom: 100px;
}
/*klein stukje geschiendernis*/
.over {
  padding-top: 60px;
}

.over > h2 {
  padding-left: 200px;
}

.over > p {
  padding-left: 200px;
  width: 750px;
  height: 200px;
  padding-top: 5px;
}

.over > img {
  float: right;
  margin-right: 500px;
  height: 250px;
  width: 300px;
  border: 2px solid black;
}

/* soorten games */
.games {
  background-color: #787676;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.games ul {
  flex-wrap: wrap;
  display: flex;
  gap: 100px;
  width: 70%;
  right: 20%;
  text-align: center;
  margin-left: 30vh ;
  list-style: none;
  
}


.games ul li {
  padding: 0%;
  margin: 0 auto;
  width: 26.5%;
  color: white;
  background: #585656;
  border-radius: 10px;
  
  
}

.games > ul > li > img {
  width: 80%;
  border-radius: 20px;
  height: 70%;
  padding-top: 40px;
  object-fit: cover;
  
}
/* openingstijden */
.info{
  background-color: #b2b0b0;
  display: flex;
  flex-direction: row;
  
}


.openingstijden {
  margin-left: 200px;
  margin-top: 100px;
  background: #787676;
  height: 30vh;
  width: 70vh;
  margin-bottom: 100px;
  
}



.openingstijden h3 {
  padding-left: 5%;
  padding-top: 5%;
  object-fit: cover;
}

.openingstijden > li > p {
  padding-left: 5%;
  padding-top: 2%;
  object-fit: cover;
}

/* ticket */
.ticketsblok{
  background: #787676;
  height: 30vh;
  width: 30vh;
  margin-left: 250px;
  margin-top: 100px;
  
}

.ticketsblok > h3 {
  padding-top:10% ;
  padding-left: 115px;
}

.ticketsblok > img{
  height: 200px;
  width: 200px;
  padding-left: 10%;
  padding-top: 5px;
  border-radius: 10px;
}

.button{
  
  padding-left: 125px;
  list-style: none;
 
}



/*eigen game*/
.eigenGame {
  height: 50vw;
  width: 100%;
  background: #787676;
  margin-top: 100px;
  margin-bottom: 100px;
}

.madeGame{
  
}

#review{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.review-heading{
 letter-spacing: 1px;
 margin: 30px 0px;
 padding: 10px 20px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.review-heading h1 {
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
}

.review-heading span{
  font-size: 1.3rem;
  color: #202020;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.review-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.review-box{
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profiel-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profiel-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profiel{
  display: flex;
  align-items: center;
}

.name-user{
  display: flex;
  flex-direction: column;
}

.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: o.5px;
}

.name-user span{
  color: #979797;
  font-size: 0.8rem;
}

.reviews{
  color: #f9d71c;
}

.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
}

.review-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}


/*footer*/
.container{
  max-width: 1170px;
  margin: auto;
  
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.ul-footer{
  list-style: none;
}


.footer{
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 50px;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
} 

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 10px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}